<footer>
   <div class="footer-head">
     <p>All rights are reserved</p>
     <a href="/">
      <button>
         Home
      </button>
     </a>
     <a href="/users/profile">
      <button>
         Profile
      </button>
   </a>
   </div>
</footer>