<div>
   <p style="color:yellow">Hi <%= comment.user.name %></p>
   <br>
   <br>
   <p>Your comment <strong><%= comment.content %></strong> just got published in Codial </p>
   <br>
   <br>
   Thanks!
</div>